<div class="col-sm-12 widget-container-span">
    <!--<div class="" style="margin-top:20px;">-->
        <!--<form class="form-search" action="" method="get">-->
            <!--<input type="hidden" name="m" value="Admin">-->
            <!--<input type="hidden" name="c" value="Pic">-->
            <!--<input type="hidden" name="a" value="index">-->

            <!--<div class="row">-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <div class="widget-box transparent">
        <include file="_tab"/>

        <div class="widget-body">
            <div class="widget-main padding-12 no-padding-left no-padding-right">
                <div class="tab-content padding-4">
                    <div id="home1" class="tab-pane in active">
                        <div class="row">
                            <div class="col-xs-12 no-padding-right">
                                <div class="table-responsive">
                                    <table id="sample-table-1"
                                           class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>姓名</th>
                                            <th>邮箱</th>
                                            <th style="width:40%;">部分内容</th>
                                            <th>是否已处理</th>
                                            <th>发件时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <volist name="list" id="vo" key="k">
                                            <tr>
                                                <td>{$k}</td>
                                                <td>{$vo.name}</td>
                                                <td>{$vo.email}</td>
                                                <td>
                                                    {$vo.content|mb_substr=0,100,'utf-8'}
                                                </td>
                                                <td>
                                                    <eq name="vo.status" value="1">
                                                        <font color="#808080">是</font>
                                                        <else/>
                                                        <font color="red">否</font>
                                                    </eq>
                                                </td>
                                                <td>{$vo.ctime|date="Y-m-d H:i:s",###}</td>
                                                <td>
                                                    <a href="{:U('detail',array('id'=>$vo['id']))}">详情</a>
                                                    &nbsp;| &nbsp;
                                                    <a href="javascript:;" onclick="delone({$vo.id});">删除</a>

                                                    <eq name="vo.status" value="0">
                                                        &nbsp;| &nbsp;
                                                        <a href="javascript:;" onclick="change({$vo.id},1);">标记为已处理</a>
                                                    </eq>
                                                </td>
                                            </tr>
                                        </volist>
                                        </tbody>
                                    </table>
                                    <div class="pagination" style="margin:0px;">
                                        {$html}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function delone(id) {
        $.post("{:U('del')}",{"id":id},function(data){
            if(data.error_code==0){
                swal({
                            title: "Ok",
                            text: data.message,
                            type: "success",
                            timer: 1000,
                        },
                        function(){
                            location.href = data.url;
                        });
            }
        });
    }

    function change(id,status) {
        $.post("{:U('Nodes/change')}",{"id":id,"status":status},function(data){
            if(data.error_code==0){
                location.reload();
            }else{
                alert('失败');
            }
        });
    }


</script>