<div class="widget-header">
    <div class="widget-toolbar no-border">
        <ul class="nav nav-tabs" id="myTab2">
            <li <eq name="sub_menu" value="password">class="active"</eq>><a href="{:U('Admin/Index/password')}">密码设置</a></li>
            <li <eq name="sub_menu" value="about">class="active"</eq>><a href="{:U('Admin/Index/about')}">公司介绍</a></li>
            <li <eq name="sub_menu" value="service">class="active"</eq>><a href="{:U('Admin/Index/service')}">联系我们</a></li>
            <li <eq name="sub_menu" value="customer">class="active"</eq>><a href="{:U('Admin/Index/customer')}">客服设置</a></li>
        </ul>
    </div>
</div>