<div class="col-sm-12 widget-container-span">
    <div class="widget-box transparent">
        <include file="_tab"/>

        <div class="widget-body">
            <div class="widget-main padding-12 no-padding-left no-padding-right">
                <div class="tab-content padding-4">
                    <div id="home2" class="tab-pane in active">
                        <form class="form-horizontal ajax" id="myform" action="{:U('Admin/Index/dopassword')}">
                            <div class="tabbable">
                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <table cellpadding="2" cellspacing="2" width="100%">
                                            <tbody>
                                            <tr>
                                                <td width="140px">登陆名:</td>
                                                <td ><input type="text" class="input col-sm-2"  value="{$info.username}" disabled></td>
                                            </tr>
                                            <tr>
                                                <td>新密码:</td>
                                                <td><input type="password" class="input col-sm-2" name="new_password" value="">
                                                    <span id="error_new_password" style="color: red;padding-left:5px;"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>新密码确认:</td>
                                                <td><input type="password" class="input col-sm-2" name="re_password" value="">
                                                    <span id="error_re_password" style="color: red;padding-left:5px;"></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary btn_submit J_ajax_submit_btn" >提交</button>
                                <a class="btn" href="javascript:;" onclick="document.getElementById('myform').reset()">重置</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /**
     *  提交表单前，验证数据的合法性
     */
    function checkData(){

        //新密码
        var new_password_flag=false;
        var new_password =  $('input[name="new_password"]').val();
        if(new_password == null || new_password == ''){
            $('#error_new_password').html('新密码不能为空');
        }else{
            $('#error_new_password').html('');
            new_password_flag =true;
        }

        //确认密码
        var re_password_flag=false;
        var re_password =  $('input[name="re_password"]').val();
        if(new_password == null || re_password == ''){
            $('#error_re_password').html('确认密码不能为空');
        }else if(new_password!=re_password){
            $('#error_re_password').html('两次密码不一致');
        }else{
            $('#error_re_password').html('');
            re_password_flag=true;
        }

        if(new_password_flag && re_password_flag){
            return true;
        }else{
            return false;
        }
    }

</script>

