<div class="widget-header">
    <div class="widget-toolbar no-border">
        <ul class="nav nav-tabs" id="myTab">
            <li <eq name="sub_menu" value="index">class="active"</eq>><a href="{:U('Admin/User/index')}">会员列表</a></li>
            <!--<li <eq name="sub_menu" value="agent">class="active"</eq>><a href="{:U('Admin/User/agent')}">代理列表</a></li>-->
            <!--<li <eq name="sub_menu" value="userRankList">class="active"</eq>><a href="{:U('Admin/User/userRankList')}">会员发展人数排行</a></li>-->
        </ul>
    </div>
</div>